$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width: 1300px;

//fonts
$big-shoulders-font: "Big Shoulders", sans-serif;
$outfit-font: "Outfit", sans-serif;

//Colors
$white: #fff;
$black: #151515;
$gray: #444444;
$brown: #D5966C;
