@use '../abstracts/abstracts' as *;

.footer {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 48px 16px;
    @include breakpoint(tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 56px 40px 56px 40px;
    }
    @include breakpoint(desktop) {
      padding: 80px 165px 80px 165px;
    }
  }
  &__logo {
    width: 35%;
    @include breakpoint(tablet) {
      width: 17%;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    @include breakpoint(tablet) {
      width: 40%;
    }
  }
  &__social-media {
    display: flex;
    gap: 20px;
  }
  &__dark {
    background-color: $black;
    color: $white;
  }
    &__brown {
    background-color: $brown;
    color: $black;
  }
}
