$black: #2B2D38;
$white: #FFFFFF;
$gray: #ABABAB;
$pink: #DB2A6B;
$purple: #6E1FED;
$light-blue: #60D3D9;
$orange: #FF7E29;
$yellow: #F4B840;

$font-merriweather: "Merriweather", serif;
$font-poppins: "Poppins", sans-serif;
$max-width-page: 1200px;
