@use '../abstracts/abstracts' as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 100%;
  }
}

.hero {
  background-image: url('../img/mobile_hero.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
  max-width: $max-width;

  &__content {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__title {
    padding-top: 300px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: $big-shoulders-font;
    color: $black;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
  }

  &__subtitle {
    margin-top: 32px;
    margin-bottom: 32px;
    color: $gray;
    font-size: 18px;
    line-height: 28px;
  }

  //Responsive styles for tablet hero
  @include breakpoint(tablet) {
    background-image: url('../img/tablet_hero.jpg');
    background-position: left;
    min-height: 700px;
    display: flex;
    justify-content: end;
    align-items: center;

    &__box {
      margin-right: 40px;
    }

    &__content {
      max-width: 340px;
      padding: 0;
    }

    &__title {
      padding: 0;
      font-size: 70px;
      line-height: 65px;
    }
  }

  //Responsive styles for desktop hero
  @include breakpoint(desktop) {
    background-image: 
      url('../img/desktop_hero.jpg'),
      linear-gradient(to right, $black 50%, $white 50%);
    background-position: center;
    min-height: 800px;
    &__box {
      width: 90%;
      margin: 0;
      display: flex;
      justify-content:start;
      gap: 363px;
    }
    &__content {
      align-self: self-end;
    }
    &__title {
      color: $white;
      font-size: 70px;
      line-height: 70px;
    }
    &__subtitle {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 64px;
    }
  }
}



.gallery {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: $max-width;

  &__picture-container {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
  }
  &__picture {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        object-position: center;
      }
    }
  &__light-content {
    margin-bottom: 32px;
    padding-right: 40px;
    h2 {
      font-family: $big-shoulders-font;
      color: $black;
      font-weight: 900;
      font-size: 50px;
      line-height: 45px;
      margin-bottom: 21px;
      &.default {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }
    p {
      color: $gray;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__dark-content {
    background-color: $black;
    padding: 48px 24px;

    h2 {
      font-family: $big-shoulders-font;
      color: $white;
      font-weight: 900;
      font-size: 50px;
      line-height: 45px;
      margin-bottom: 21px;
    }

    p {
      color: $white;
      font-size: 18px;
      line-height: 28px;
    }
  }

  //Responsive styles for tablet gallery
  @include breakpoint(tablet) {
    &__picture, &__light-content, &__dark-content {
      margin: 0;
    }
    .container {
      padding-left: 39px;
      padding-right: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 11px;      
    }
    &__light-content {
      grid-column: 1 / span 2;
      grid-row: 1;
      padding-top: 36px;
      padding-right: 57px;
      h2 {
        margin-bottom: 24px;
      }
    }
    &__picture-1 {
      grid-column: 3 / span 3;
      grid-row: 1;
    }
    &__picture-2 {
      grid-column: 1 / span 3;
      grid-row: 2 / span 2;
    }
    &__picture-3 {
      grid-column: 4 / span 2;
      grid-row: 2;
    }
    &__dark-content {
      grid-column: 4 / span 2;
      grid-row: 3;
      padding: 85px 28px 85px 28px;
    }
  }
  //Responsive styles for desktop gallery
  @include breakpoint(desktop) {
    margin-top: 180px;
    .container {
      padding-left: 120px;
      padding-right: 120px;
      gap: 30px;      
    }
    &__light-content {
      padding-top: 36px;
      padding-right: 80px;
      h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 32px;
        &.default {
          display: none;
        }
        &.desktop {
          display: block;
        }
      }
    }
    &__dark-content {
      padding: 65px 48px 65px 48px;
      h2 {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }
}
